body {
  font-family: "Montserrat";
  /* max-width: 1440px; */
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0 auto;
}

.hidden {
  display: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* 
img {
  max-width: 100%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  padding: 10px 24px;
  gap: 4px;

  width: 301px;
  height: 68px;

  background: #94c52d;
  box-shadow: 0px 10px 20px rgba(69, 79, 84, 0.2);
  border-radius: 5px;
  border: none;

  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: all 0.3s ease;
}

.btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  margin-top: 54px;
  gap: 4px;

  width: 301px;
  height: 68px;

  background: linear-gradient(180deg, #94c52d 0%, #2a9134 100%);
  box-shadow: 0px 10px 20px rgba(69, 79, 84, 0.2);
  border-radius: 5px;

  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.btn-2:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: all 0.3s ease;
}

a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.active {
  cursor: pointer;
  font-weight: 700;
  border-bottom: 1px solid;
}

.active-lang {
  font-weight: 600;
  cursor: pointer;
  color: #2a9134;
  background: #ffffff;
  transition: all 0.2s ease;
}

b {
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: #2e3538;
  margin: 40px 0 0 13px;
}
